In [267]:
#Address=2010

print(3+3)

6

In [268]:
example=(1,"sharath",3.12,False,1)
print(example)
print(len(example))
print(type(example))
print(example.count(1))
print(example[0:3])
print(example[4])
print(example[-1])

(1, 'sharath', 3.12, False, 1)
5
<class 'tuple'>
2
(1, 'sharath', 3.12)
1
1

In [269]:
number=(2,4,7,9,3,9,3,9,3,2)
print(number)
Add=(2,4,5,7)
print(number+Add)
print(Add*4)

(2, 4, 7, 9, 3, 9, 3, 9, 3, 2)
(2, 4, 7, 9, 3, 9, 3, 9, 3, 2, 2, 4, 5, 7)
(2, 4, 5, 7, 2, 4, 5, 7, 2, 4, 5, 7, 2, 4, 5, 7)

In [270]:
example={1,1,2,3,3,4,5,}
print(example)
print(type(example))
print(len(example))
example.add(10)
print(example)
example.add("BKC")
print(example)
example={1,2,2,3,4,4,5,6,7}
print(example)
#print(type(example))
print(len(example))
example.add("BKC")
print(example)
example.add(77.12)
print(example)
example.add("true")
print(example)
example.remove("true")
print(example)
print(example.pop())
print(example)

{1, 2, 3, 4, 5}
<class 'set'>
5
{1, 2, 3, 4, 5, 10}
{1, 2, 3, 4, 5, 'BKC', 10}
{1, 2, 3, 4, 5, 6, 7}
7
{1, 2, 3, 4, 5, 6, 7, 'BKC'}
{1, 2, 3, 4, 5, 6, 7, 77.12, 'BKC'}
{1, 2, 3, 4, 5, 6, 7, 77.12, 'true', 'BKC'}
{1, 2, 3, 4, 5, 6, 7, 77.12, 'BKC'}
1
{2, 3, 4, 5, 6, 7, 77.12, 'BKC'}

In [271]:
first={1,2,3,4,4,2}
second={3,5,4,6}
print(first | second)
print(first.union(second))
print(first&second)
print(first.intersection(second))
print(first.difference(second))
print(first-second)
print(second-first)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{3, 4}
{3, 4}
{1, 2}
{1, 2}
{5, 6}

In [272]:
dict={"Roll_number":201,
      "Name":"Basavaraj",
      "Address":"Raichur",
      "CGPA":7.53,
      "Course":"MCA",
      "YEAR":2022}
print(dict)
print(len(dict))
dict["Gender"]="male"
print(dict)
dict["Number"]="7411690561"
print(dict)
dict["college"]="BKC"
print(dict)
dict["college"]="tumkur university"
print(dict)
del dict["Gender"]
print(dict)
dict["Gender"]="male"
print(dict)
print(dict["college"])
dict["age"]=19
print(dict["age"])
dict.pop("Address")
print(dict)
dict.popitem()
print(dict)
print(dict.keys())
print(dict.values())
print(dict.items())
print(dict.clear())

{'Roll_number': 201, 'Name': 'Basavaraj', 'Address': 'Raichur', 'CGPA': 7.53, 'Course': 'MCA', 'YEAR': 2022}
6
{'Roll_number': 201, 'Name': 'Basavaraj', 'Address': 'Raichur', 'CGPA': 7.53, 'Course': 'MCA', 'YEAR': 2022, 'Gender': 'male'}
{'Roll_number': 201, 'Name': 'Basavaraj', 'Address': 'Raichur', 'CGPA': 7.53, 'Course': 'MCA', 'YEAR': 2022, 'Gender': 'male', 'Number': '7411690561'}
{'Roll_number': 201, 'Name': 'Basavaraj', 'Address': 'Raichur', 'CGPA': 7.53, 'Course': 'MCA', 'YEAR': 2022, 'Gender': 'male', 'Number': '7411690561', 'college': 'BKC'}
{'Roll_number': 201, 'Name': 'Basavaraj', 'Address': 'Raichur', 'CGPA': 7.53, 'Course': 'MCA', 'YEAR': 2022, 'Gender': 'male', 'Number': '7411690561', 'college': 'tumkur university'}
{'Roll_number': 201, 'Name': 'Basavaraj', 'Address': 'Raichur', 'CGPA': 7.53, 'Course': 'MCA', 'YEAR': 2022, 'Number': '7411690561', 'college': 'tumkur university'}
{'Roll_number': 201, 'Name': 'Basavaraj', 'Address': 'Raichur', 'CGPA': 7.53, 'Course': 'MCA', 'YEAR': 2022, 'Number': '7411690561', 'college': 'tumkur university', 'Gender': 'male'}
tumkur university
19
{'Roll_number': 201, 'Name': 'Basavaraj', 'CGPA': 7.53, 'Course': 'MCA', 'YEAR': 2022, 'Number': '7411690561', 'college': 'tumkur university', 'Gender': 'male', 'age': 19}
{'Roll_number': 201, 'Name': 'Basavaraj', 'CGPA': 7.53, 'Course': 'MCA', 'YEAR': 2022, 'Number': '7411690561', 'college': 'tumkur university', 'Gender': 'male'}
dict_keys(['Roll_number', 'Name', 'CGPA', 'Course', 'YEAR', 'Number', 'college', 'Gender'])
dict_values([201, 'Basavaraj', 7.53, 'MCA', 2022, '7411690561', 'tumkur university', 'male'])
dict_items([('Roll_number', 201), ('Name', 'Basavaraj'), ('CGPA', 7.53), ('Course', 'MCA'), ('YEAR', 2022), ('Number', '7411690561'), ('college', 'tumkur university'), ('Gender', 'male')])
None

In [273]:
dict={"Roll_number":205,
      "Name":"swapnil",
      "Address":"chikodi",
      "CGPA":101.53,
      "Course":"BCA",
      "YEAR":2025}
print(dict)
print(len(dict))
dict["Gender"]="male"
print(dict)
dict["Number"]="7411690561"
print(dict)
dict["college"]="BKC"
print(dict)
dict["college"]="tumkur university"
print(dict)
del dict["Gender"]
print(dict)
dict["Gender"]="male"
print(dict)
print(dict["college"])
dict["age"]=19
print(dict["age"])
dict.pop("Address")
print(dict)
dict.popitem()
print(dict)
print(dict.keys())
print(dict.values())
print(dict.items())
print(dict.clear())

{'Roll_number': 205, 'Name': 'swapnil', 'Address': 'chikodi', 'CGPA': 101.53, 'Course': 'BCA', 'YEAR': 2025}
6
{'Roll_number': 205, 'Name': 'swapnil', 'Address': 'chikodi', 'CGPA': 101.53, 'Course': 'BCA', 'YEAR': 2025, 'Gender': 'male'}
{'Roll_number': 205, 'Name': 'swapnil', 'Address': 'chikodi', 'CGPA': 101.53, 'Course': 'BCA', 'YEAR': 2025, 'Gender': 'male', 'Number': '7411690561'}
{'Roll_number': 205, 'Name': 'swapnil', 'Address': 'chikodi', 'CGPA': 101.53, 'Course': 'BCA', 'YEAR': 2025, 'Gender': 'male', 'Number': '7411690561', 'college': 'BKC'}
{'Roll_number': 205, 'Name': 'swapnil', 'Address': 'chikodi', 'CGPA': 101.53, 'Course': 'BCA', 'YEAR': 2025, 'Gender': 'male', 'Number': '7411690561', 'college': 'tumkur university'}
{'Roll_number': 205, 'Name': 'swapnil', 'Address': 'chikodi', 'CGPA': 101.53, 'Course': 'BCA', 'YEAR': 2025, 'Number': '7411690561', 'college': 'tumkur university'}
{'Roll_number': 205, 'Name': 'swapnil', 'Address': 'chikodi', 'CGPA': 101.53, 'Course': 'BCA', 'YEAR': 2025, 'Number': '7411690561', 'college': 'tumkur university', 'Gender': 'male'}
tumkur university
19
{'Roll_number': 205, 'Name': 'swapnil', 'CGPA': 101.53, 'Course': 'BCA', 'YEAR': 2025, 'Number': '7411690561', 'college': 'tumkur university', 'Gender': 'male', 'age': 19}
{'Roll_number': 205, 'Name': 'swapnil', 'CGPA': 101.53, 'Course': 'BCA', 'YEAR': 2025, 'Number': '7411690561', 'college': 'tumkur university', 'Gender': 'male'}
dict_keys(['Roll_number', 'Name', 'CGPA', 'Course', 'YEAR', 'Number', 'college', 'Gender'])
dict_values([205, 'swapnil', 101.53, 'BCA', 2025, '7411690561', 'tumkur university', 'male'])
dict_items([('Roll_number', 205), ('Name', 'swapnil'), ('CGPA', 101.53), ('Course', 'BCA'), ('YEAR', 2025), ('Number', '7411690561'), ('college', 'tumkur university'), ('Gender', 'male')])
None

In [274]:
Employe = {"Employe_id":1001,
           "Employe_Name":"swapnil",
           "Contact_number":7411690561,
           "salary":400000,
           "Email_id":"swapnilbagadi6@gmail.com",
           "compney":"Google",
           "Employe_Habbit":"gamming",
}
print(Employe)
Employe["country"] = "India",
print(Employe)
Employe["pin code"] = 591304
print(Employe)
print(type(Employe))
print(len(Employe))
print(Employe["salary"])
Employe.pop("Email_id")
Employe["Department"] ="Developer"
print(Employe)
Employe["Department"] ="Testing"
print(Employe)
print(Employe.popitem())

{'Employe_id': 1001, 'Employe_Name': 'swapnil', 'Contact_number': 7411690561, 'salary': 400000, 'Email_id': 'swapnilbagadi6@gmail.com', 'compney': 'Google', 'Employe_Habbit': 'gamming'}
{'Employe_id': 1001, 'Employe_Name': 'swapnil', 'Contact_number': 7411690561, 'salary': 400000, 'Email_id': 'swapnilbagadi6@gmail.com', 'compney': 'Google', 'Employe_Habbit': 'gamming', 'country': ('India',)}
{'Employe_id': 1001, 'Employe_Name': 'swapnil', 'Contact_number': 7411690561, 'salary': 400000, 'Email_id': 'swapnilbagadi6@gmail.com', 'compney': 'Google', 'Employe_Habbit': 'gamming', 'country': ('India',), 'pin code': 591304}
<class 'dict'>
9
400000
{'Employe_id': 1001, 'Employe_Name': 'swapnil', 'Contact_number': 7411690561, 'salary': 400000, 'compney': 'Google', 'Employe_Habbit': 'gamming', 'country': ('India',), 'pin code': 591304, 'Department': 'Developer'}
{'Employe_id': 1001, 'Employe_Name': 'swapnil', 'Contact_number': 7411690561, 'salary': 400000, 'compney': 'Google', 'Employe_Habbit': 'gamming', 'country': ('India',), 'pin code': 591304, 'Department': 'Testing'}
('Department', 'Testing')

In [275]:
Name = {"Name"  : "swanil",
        "name"  :"swapnil",
        "F_name" :"swapnil",
        "L_name" :"swapnil",
        }
print(Name)

{'Name': 'swanil', 'name': 'swapnil', 'F_name': 'swapnil', 'L_name': 'swapnil'}

In [276]:
a=10
b=3
c=a/b
print(c)
print(type(a))
print(type(b))
print(type(c))

3.3333333333333335
<class 'int'>
<class 'int'>
<class 'float'>

In [277]:
a,b,c=2.5,3.5,a+b
print(a+b)
print(type(a))
print(type(b))
print(type(c))
print(type(a/b))

6.0
<class 'float'>
<class 'float'>
<class 'int'>
<class 'float'>

In [278]:
x=2.5
y=3.5
print(type(x+y))

<class 'float'>

In [279]:
#
i=20
j=5.5
k=i+j
print(type(k))

<class 'float'>

In [280]:
#int->float
a=49
b=7
print(type(a/b))
i=True
print(type(i))
j=5
print(type(i+j))
M=2.9
N=False
O=M-N
print(type(O))
P=True
q=False
R=P+q
print(type(R))
s=2.6
T=False
print(type(s* T))

<class 'float'>
<class 'bool'>
<class 'int'>
<class 'float'>
<class 'int'>
<class 'float'>

In [ ]:
EX1 = list(Num1)
print(type(EX1))
Num1 = "swapnil"
print(type(Num1))
EX1 = list(Num1)
print(type(EX1))
Num1=(set(EX1))
print(type(Num1))
Num3 = {1,23,4,5}
print(type(Num3))
Ex3 = list(Num3)
print(type(Ex3))
Num4 = {}
print()

In [ ]:
a =10
b=20
print("b=10,a=20")

In [ ]:
Num3=(("name","swapnil"),("Age",19))
print(type(Num3))

In [283]:
Num4 ={"Roll_number",501,("section","c")}
print(type(Num4))

<class 'set'>

In [288]:
from re import A
#I/P a=10 ,b=20

a=10
b=20
print("before swapping")
print("a=",a,"b=",b)
print("======================")
print("After swapping")
temp =a
a=b
b=temp
print("a=",a,"b=",b)

before swapping
a= 10 b= 20
======================
After swapping
a= 20 b= 10

In [291]:
a=10
b=20
print("before swapping")
print("a=", a, "b=", b)
print("======================")
print("After swapping")
a = a + b
b = a - b
a = a - b
print("a=", a, "b=", b)

before swapping
a= 10 b= 20
======================
After swapping
a= 20 b= 10