In [ ]:
Examle = ["Laptop", 39000, "Window", "Lenovo", "Bengaluru", "Laptop", 39000, "MAC", "Lenovo", "Chikodi"]
print(Examle)
print(Examle.count("Lenovo"))

['Laptop', 39000, 'Window', 'Lenovo', 'Bengaluru', 'Laptop', 39000, 'MAC', 'Lenovo', 'Chikodi']
2

In [ ]:
a=10
b=20
print(a+b)

30

In [ ]:
x= int(input("enter x value:"))
y= int(input("enter y value:"))
print(x + y)

enter x vaiue:10
enter y vaiue:20
30

In [ ]:
a=int(input("enter a value:"))
b=int(input("enter b value:"))
print("Addition of",a,"and",b,"value is =",a+b)

enter a value:10
enter b value:20
Addition of 10 and 20 value is = 30

In [ ]:
first=float(input("enter first value:"))
second=float(input("enter second value:"))
print(first * second)

enter first value:10
enter second value:5
50.0

In [ ]:
first_name=input("enter first name:")
last_name=input("enter last name:")
print(first_name +" " +last_name)

enter first name:swapnil
enter last name:raichur
swapnil raichur

In [40]:
first_variable = input("enter first variable:")
second_variable = input("enter second variable:")
print("multiplicaion of", first_variable,"and",second_variable,"value is",float(first_variable) * float(second_variable))

enter first variable:7
enter second variable:6
multiplicaion of 7 and 6 value is 42.0

In [41]:
print("hello world")

hello world

In [45]:
i= input()
j= input()
print(i+j)

BKC
college
BKCcollege

In [47]:
x= 100
y= 50
print(f'addition of {x} and {y} is {x+y}')
print(f'division of {x} and {y} is {x/y}')

addition of 100 and 50 is 150
division of 100 and 50 is 2.0

In [62]:
# Hi,Goood morningMy name is swapnil, i have completed MCA in the year of
# 2022, currently i'm working in kle bk bca college chikodi 591201
name="swapnil"
course="MCA"
year="2022"
department="bca"
pincode=591201

print(f"Hi,Good morning My name is {name} i have completed {course} in the year of {year} currently i'm working in kle bk {department} college {pincode}")

Hi,Good morning My name is swapnil i have completed MCA in the year of 2022 currently i'm working in kle bk bca college 591201

num1=5
numb2=10
sum = num1+numb2
print(sum)
calcu=5*10
print(calcu)

In [70]:
#arthmetic operators
x=35
y=40
print(f'addition of {x} and {y} is {x+y}')
print(f'subtraction of {x} and {y} is {x-y}')
print(f'multiplication of {x} and {y} is {x*y}')
print(f'division of {x} and {y} is {x/y}')
print(f'modulus of {x} and {y} is {x%y}')
print(f'exponent of {x} and {y} is {x**y}')
print(f'floor division of {x} and {y} is {x//y}')

addition of 35 and 40 is 75
subtraction of 35 and 40 is -5
multiplication of 35 and 40 is 1400
division of 35 and 40 is 0.875
modulus of 35 and 40 is 35
exponent of 35 and 40 is 57905761067641178540192733082440108773880638182163238525390625
floor division of 35 and 40 is 0

In [72]:
#relationl operators
x=35
y=40
print(f'{x} is equal to {y} is {x==y}')
print(f'{x} is not equal to {y} is {x!=y}')
print(f'{x} is greater than {y} is {x>y}')
print(f'{x} is less than {y} is {x<y}')
print(f'{x} is greater than or equal to {y} is {x>=y}')
print(f'{x} is less than or equal to {y} is {x<=y}')

35 is equal to 40 is False
35 is not equal to 40 is True
35 is greater than 40 is False
35 is less than 40 is True
35 is greater than or equal to 40 is False
35 is less than or equal to 40 is True

In [79]:


a=30
b=30
c=13
d=10
print(a== b and c<d)
print(13!=c and c<d)
print(b>a and c<d)
print(20!=a and c==b)
print(a<b or d==c)
print((not(a<b))and 100<200)
print(not(d==10))
print(35 !=d or (not(20==a)))
print(not(c<=b and(not(a<=c))))

False
False
False
False
False
True
False
True
False

In [104]:
x=10
print(x)
x-=2
print(x)
x*=5
print(x)


x//= 3
print(x)
x**=2
print(x)
x%=4
print(x)
x+=9
print(x)
x /=3
print(x)

10
8
40
13
169
1
10
3.3333333333333335

In [105]:
num =9
if num <10 :
    print("10 is greater than 9")

10 is greater than 9

In [109]:
user_id="20mca103"
Password = 1234
if user_id=="20mca103" and Password ==1234:
     print("login successful")

login successful

In [120]:
from pickle import EXT1
ex=59
if ex==58:
    print("are you understand")

In [122]:
name="swapnil"
if name <= "BKC":
    print("my name is swapnil")

In [123]:
num= int(input("enter a number value:"))
if num > 0:
    print("posistive number")
else:
   print("odd number")

enter a number value:99
posistive number

In [127]:
nuk =int(input(" enter the year"))
if nuk %4==0:
  print("the year is not leap")

 enter the year2022

In [130]:
age =(int(input(" enter age value")))
if age>=18:
  print("they are eligible for voteing")
else:
  print("they  have to wait")

 enter age value18
they are eligible for voteing

In [144]:
user_id=input("Enter user_id value:")
password=int(input("Enter passworde value:"))
if user_id=="college" and password==1234:
  print("login successfully")
else:
   print("Invalid details")

Enter user_id value:college
Enter passworde value:1234
login successfully

In [145]:
per=int(input("enter percentage is:"))
if per>=90:
   print("disticaion")
elif marks>=70:
   print("first calss")
elif marks>=55 :
  print("secont calss")
elif marks>=35:
  print("just pass")
else:
  print("fail better luck next chance")

enter percentage is:110
disticaion

In [150]:

prize =input("enter prize medal:")
if prize=="gold":
  print("first prize")
elif prize=="silver":
  print("second prize")
  print("third prize")
elif prize=="certificate":
  print("samadanakara bahumana")
else:
  print("better luck next chance")

enter prize medal:gold
first prize

In [151]:
signal= input("trappic signal")
if signal=="red":
  print("stop")
elif signal=="yellow":
  print("ready")
elif signal=="green":
  print("go")
else:
  print("wrong signal")

trappic signalred
stop