In [ ]:
sentence="python programmig language"
count=0
for ch in sentence:
   if ch in "aeiou":
        count +=1
print("totel vowels is :",count)

totel vowels is : 8

In [ ]:
base= 4
heghit = 5
triangle = 0.5*base*heghit
print("area of triangle is :",triangle)

area of triangle is : 10.0

In [ ]:
red = 4
area = 3.14*red*red
print("area of circle is :",area)

area of circle is : 50.24

In [ ]:
ex =[5,25,35,45,10,15]
Lar = ex[0]
for num in ex:
    if num > Lar:
        Lar = num
        print("lar nun",Lar)

lar nun 25
lar nun 35
lar nun 45

In [ ]:
num =[10,25,7,99.56]
Lar = num[0]
for i in num:
    if i > Lar:
        Lar = i
print(Lar,"is largset number in this list")

99.56 is largset number in this list

In [ ]:
# write a programe count of consonents in string value
#"Bachelor of computer science first semester section c"
sentence ="Bachelor of computer science first semester section c"
count=0
for ch in sentence:
   if ch in "aeiou":
      count+=1
print("Total consonents is :",count)

Total consonents is : 17

In [ ]:
fruits = ("apple","orange","mango","strawberry","dragon fruit","greeps","babanana","pinapal","pappaya","water milon")
for fruit in fruits:
  if fruit == "greeps":
      print(fruits)

('apple', 'orange', 'mango', 'strawberry', 'dragon fruit', 'greeps', 'babanana', 'pinapal', 'pappaya', 'water milon')

In [ ]:
mobiles = ("vivo","redmi","oppo","vivo","vivo","vivo","oppo","iqee","vivo","1 puls")
for mobiles in mobiles:
  if mobiles == "vivo":
     continue
  print(mobiles)

redmi
oppo
oppo
iqee
1 puls

In [ ]:
movies =["kgf","chhava","bahubali","saiyara","RRR","KALKI","kannadakagi onendonnu otti"]
for movie in movies :
  if movie == "RRR" :
    pass
  print(movie)

kgf
chhava
bahubali
saiyara
RRR
KALKI
kannadakagi onendonnu otti

In [ ]:
things = {"mobile","laptop","monitor","tab","book","pen","paper"}
for thing in things :
   if thing == "mobile":
    continue
print(thing)

pen

In [ ]:
for i in range(10):
  for j in range(10):
      print("*",end=" ")
  print()

* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *

In [ ]:
for i in range(10):
  for j in range(10):
      print("1",end=" ")
  print()

1 1 1 1 1 1 1 1 1 1
1 1 1 1 1 1 1 1 1 1
1 1 1 1 1 1 1 1 1 1
1 1 1 1 1 1 1 1 1 1
1 1 1 1 1 1 1 1 1 1
1 1 1 1 1 1 1 1 1 1
1 1 1 1 1 1 1 1 1 1
1 1 1 1 1 1 1 1 1 1
1 1 1 1 1 1 1 1 1 1
1 1 1 1 1 1 1 1 1 1

In [ ]:
for i in range(10):
  for j in range(10):
      print("1",end=" ")
  print()

s s s s s s s s s s
s s s s s s s s s s
s s s s s s s s s s
s s s s s s s s s s
s s s s s s s s s s
s s s s s s s s s s
s s s s s s s s s s
s s s s s s s s s s
s s s s s s s s s s
s s s s s s s s s s

In [ ]:
for i in range(10):
  for j in range(10):
      print(i,end=" ")
  print()

0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9

In [ ]:
for i in range(10):
  for j in range(10):
      print(j,end=" ")
  print()

0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9

In [ ]:
for i in range(1,10):
  for j in range(i):
      print(j,end=" ")
  print()

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4
0 1 2 3 4 5
0 1 2 3 4 5 6
0 1 2 3 4 5 6 7
0 1 2 3 4 5 6 7 8

In [163]:
for i in range(1,10):
  for j in range(j):
      print(j,end=" ")
  print()

In [172]:
for i in range(5):
  for j in range(i+1):
   print(" ",end=" ")
for j in range(5):
   print("*",end=" ")
print()

                              * * * * *

In [191]:
for i in range(10):
   for j in range(0,i+1):
       print(" ",end=" ")
   for j in range(10):
       print("*",end=" ")
   print()

  * * * * * * * * * *
    * * * * * * * * * *
      * * * * * * * * * *
        * * * * * * * * * *
          * * * * * * * * * *
            * * * * * * * * * *
              * * * * * * * * * *
                * * * * * * * * * *
                  * * * * * * * * * *
                    * * * * * * * * * *

In [198]:
for i in range(5):
   for j in range(i+1,5):
       print(" ",end=" ")
   for j in range(5):
       print("*",end=" ")
   print()

        * * * * *
      * * * * *
    * * * * *
  * * * * *
* * * * *

In [219]:
row = 5
col = 5
for i in range (0,row):
  for j in range(0,col):
      if i==0 or j==0 or i==row-1 or j==col-1:
       print("*",end=" ")
      else:
        print("*",end=" ")
  print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [224]:
for i in range (10):
    for j in range (i):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *

In [238]:
num = 7
for i in  range (0,num):
    for i in range (0,num-i-1):
        print(" ",end=" ")
for j in range (0,i*2+1):
    print("*", end=" ")
print()

                                          * * * * * * * * * * * * *

In [253]:
num = 7
for i in range(0,num):
    for j in range(0,num-i-i):
        print (" ",end=" ")
    for j in range(0,i*2+1):
       print("*",end=" ")
    print()
for i in range (0,num):
    for j in range (0,i):
         print(" ",end=" ")
    for j in range (0,(num-i)*2-1):
         print("*",end=" ")
    print()

              *
          * * *
      * * * * *
  * * * * * * *
* * * * * * * * *
* * * * * * * * * * *
* * * * * * * * * * * * *
* * * * * * * * * * * * *
  * * * * * * * * * * *
    * * * * * * * * *
      * * * * * * *
        * * * * *
          * * *
            *

In [255]:
# 1) example
def fun(num):
  return num*num
print(fun(4))

16

In [258]:
def add(a,b):
  print(f'addition of two number is {a+b}')
add(5,10)

addition of two number is 15

In [272]:
def example( roll_number,name,section,department,college):
    print(f"my name is{name},i'm studing {department},college.my roll_number is {roll_number}and section is {section}")
example(101,"swapnil",'a',"BCA","KLE")

my name isswapnil,i'm studing BCA,college.my roll_number is 101and section is a

In [273]:
def fun(name,game,time):
   print(f"i'm{name};i'm playing {game} at {time} time")
fun(time = "evening",name = "swapnil",game = "cricket")

i'mswapnil;i'm playing cricket at evening time

In [275]:
def laptop(name = "lenovo"):
    print("my my laptop name is :",name)
laptop("dell")
laptop("hp")
laptop()
laptop("asus")

my my laptop name is : dell
my my laptop name is : hp
my my laptop name is : lenovo
my my laptop name is : asus