In [7]:
import numpy as swapnil
arr = swapnil.array([1,2,3,4,5])
print("Nupmpy array:",arr)

Nupmpy array: [1 2 3 4 5]

In [8]:
import numpy as np
zeros=np.zeros(5)
ones=np.ones(5)
print("zeros:",zeros)
print("ones:",ones)

zeros: [0. 0. 0. 0. 0.]
ones: [1. 1. 1. 1. 1.]

In [ ]:
import numpy as np
a ==np.array

In [11]:
import numpy as np
arr = np.array([1,4,9,16])
print("square Root:",np.sqrt(arr))
print("Mean:",np.mean(arr))

square Root: [1. 2. 3. 4.]
Mean: 7.5

In [19]:
import numpy as np
from scipy import stats
data = np. array ([2,4,6,8,10,12,16])
mean = np.mean(data)
print("mean value is:",mean)
print("median:",np.median(data))
print("range value is:",(data.max()-data.min()))
mode = stats.mode(data)
print("mode value is:",mode)

mean value is: 8.285714285714286
median: 8.0
range value is: 14
mode value is: ModeResult(mode=np.int64(2), count=np.int64(1))

In [20]:
import numpy as np
matrix = np.array ([[1,2],[3,4]])
print("matrix:\n",matrix)
print("transpose:\n",matrix.T)

matrix:
 [[1 2]
 [3 4]]
transpose:
 [[1 3]
 [2 4]]